.misc-container {
  background-color: rgb(95,158,160);
  overflow-x: hidden;
}

.misc {
position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.misc-content, .misc-container {
height: 8000px;
}
  
  @import '_homeButton';

  .object, .word {
    position: absolute;
  }
  
  .rellaxImg {
    overflow-x: scroll;
    white-space: nowrap;
    opacity: 1;
    max-height: 500px;
  }
  
  .object1 {
    @include rellax(50%, 14%, 10%);
  }
 
  .object2 {
    @include rellax(55%, 3%, 35%);
  }
  
  .object3 {
    @include rellax(45%, 10%, 15%);
  }
  
  .object4 {
    @include rellax(50%, 18%, 40%);
  }
  
  .object5 {
    @include rellax(50%, 25%, 20%);
    z-index: 3;

  }
  
  .object6 {
    @include rellax(40%, 40%, 10%);
    z-index: 2;

  }
  
  .object7 {
    @include rellax(40%, 45%, 25%);
    z-index: 3;

  }
  
  .object8 {
    @include rellax(40%, 40%, 5%);
    z-index: 2;

  }
  
  .object9 {
    @include rellax(40%, 20%, 10%);
  }
  
  .object10 {
    @include rellax(40%, 54%, 65%);
  }

  .object11 {
    @include rellax(40%, 54%, 15%);
  }

  .object12 {
    @include rellax(40%, 88%, 15%);
  }
  
  .object13 {
    @include rellax(20%, 95%, 25%);
  }

  .object14 {
    @include rellax(40%, 66%, 5%);
  }

  .object15 {
    @include rellax(40%, 70%, 45%);
  }

  .object16 {
    @include rellax(40%, 74%, 32%);
  }

  .object17 {
    @include rellax(40%, 78%, 60%);
  }

  .object18 {
    @include rellax(40%, 71%, 3%);
  }

  .object19 {
    @include rellax(40%, 90%, 55%);
  }

  .object20 {
    @include rellax(40%, 88%, 11%);
  }

  .object21 {
    @include rellax(40%, 55%, 32%);
  }

  .object22 {
    @include rellax(40%, 92%, 9%);
  }

  .mWord1 {
    @include relWord(55%, 2%, 8em);
    color: white;
  }
  
  .mWord2 {
    @include relWord(40%, 80%, 0.5em);
  }