  /* home button */
  
  .movBack {
    position: fixed;
    top: 25px;
    left: 25px;
    z-index: 1;
    width: 10%;
    height: 50px;
    overflow: hidden;
    color: black;
    width: 100px;
  }
  
  .index {
    border: 3px solid #2727e6;
    font-weight: 700;
    letter-spacing: -0.5rem;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 1rem;
    line-height: 1.8rem;
    letter-spacing: 0.5px;
    border-left-width: 0px;
    border-right-width: 0px;
    text-decoration: none;
    color: #2727e6;
  }
  
  a:hover {
    color: orange;
  }