#miscBod {
    margin: 0;
    padding: 0;
    // width: 100%;
    height: 100vh;
    background: #1f1f1f;
    font-family: "Ailerons";
    color: #fff;
    font-size: 5em;
    overflow-y: hidden;
  }

  .misc-content {
    height: 100vh;
    background-color: black;
  }

  .misc {
    position: absolute;
    top: 0;
  left: 0;
    height: 100%;
    width: 5000px;
  }

  .misc-container {
    position: absolute;
    top: 0;
  left: 0;
    background-color: #1a1919;
    // width: 100%;
    // height: 5000px;
  }
  
  @import '_homeButton';

  .object, .word {
    position: absolute;
  }
  
  .rellaxImg {
    overflow-x: scroll;
    white-space: nowrap;
    opacity: 1;
    max-height: 500px;
  }
  
  .mObject1 {
    @include rellaxH(30%, 10%, 10%);
  }
  
  .mObject2 {
    @include rellaxH(30%, 10%, 15%);
  }
  
  .mObject3 {
    @include rellaxH(25%, 5%, 20%);
  }
  
  .mObject4 {
    @include rellaxH(40%, 10%, 28%);
  }
  
  .mObject5 {
    @include rellaxH(25%, 20%, 29%);
  }
  
  .mObject6 {
    @include rellaxH(40%, 10%, 35%);
  }
  
  .mObject7 {
    @include rellaxH(35%, 15%, 41%);
  }
  
  .mObject8 {
    @include rellaxH(40%, 25%, 47%);
  }
  
  .mObject9 {
    @include rellaxH(40%, 0%, 54%);
  }
  
  .mObject10 {
    @include rellaxH(40%, -10%, 60%);
  }

  .mWord1 {
    @include relWord(55%, 2%, 8em);
    color: white;
  }
  
  .mWord2 {
    @include relWord(40%, 80%, 0.5em);
  }