#travelBod {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 5em;
  overflow-x: hidden;
}

.travel {
    width: 100%;
}

.travel-container {
    background-color: rgb(160, 160, 160);
    overflow-x: hidden;
}

.travel {
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.travel-content, #travelBod, .travel-container {
  height: 10000px;
}



  @import '_homeButton';
  
  .object, .word {
    position: absolute;
  }
  
  .travelImg {
    width: 100%;
    opacity: 1;
  }
  
  .object1 {
    @include rellax(50%, 2%, 10%);
  }
 
  .object2 {
    @include rellax(35%, 5%, 25%);
  }
  
  .object3 {
    @include rellax(45%, 10%, 15%);
  }
  
  .object4 {
    @include rellax(40%, 20%, 40%);
  }
  
  .object5 {
    @include rellax(50%, 25%, 20%);
  }
  
  .object6 {
    @include rellax(40%, 30%, 10%);
  }
  
  .object7 {
    @include rellax(40%, 35%, 55%);
  }
  
  .object8 {
    @include rellax(40%, 40%, 50%);
  }
  
  .object9 {
    @include rellax(40%, 45%, 15%);
  }
  
  .object10 {
    @include rellax(40%, 50%, 60%);
  }
  
  .object11 {
    @include rellax(50%, 55%, 10%);
  }
  
  .object12 {
    @include rellax(30%, 55%, 65%);
  }
  
  .object13 {
    @include rellax(25%, 55%, 25%);
  }
  
  .object14 {
    @include rellax(40%, 60%, 40%);
  }
  
  .object15 {
    @include rellax(40%, 60%, 20%);
  }
  
  .object16 {
    @include rellax(40%, 60%, 10%);
  }
  
  .object17 {
    @include rellax(40%, 65%, 40%);
  }
  
  .object18 {
    @include rellax(40%, 70%, 50%);
  }
  
  .object19 {
    @include rellax(40%, 70%, 15%);
  }
  
  .object20 {
    @include rellax(40%, 75%, 60%);
  }
  
  .object21 {
    @include rellax(40%, 45%, 20%);
  }
  
  .object22 {
    @include rellax(400px, 80%, 10%);
  }
  
  .object23 {
    @include rellax(40%, 80%, 40%);
  }
  
  .object24 {
    @include rellax(40%, 50%, 50%);
  }
  
  .object25 {
    @include rellax(40%, 80%, 15%);
  }
  
  .object26 {
    @include rellax(40%, 80%, 60%);
  }
  
  .word1 {
    @include relWord(20%, 20%, 0.7em);
  }
  
  .word2 {
    @include relWord(2%, 15%, 0.5em);
  }