#travelBod {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 5em;
  overflow-x: hidden;
}

.travel {

    position: absolute;
    top: 0;
  left: 0;
    // background-color: #1a1919;
    width: 100%;
    height: 5000px;
}

.travel-container {
  position: absolute;
    top: 0;
  left: 0;
    background-color: #1a1919;
    width: 100%;
    height: 5000px;
    overflow-x: hidden;
}



  @import '_homeButton';
  
  .object, .word {
    position: absolute;
  }
  
  .travelImg {
    width: 100%;
    opacity: 1;
  }
  
  .object1 {
    @include rellax(500px, 10%, 10%);
  }
 
  .object2 {
    @include rellax(350px, 20%, 25%);
  }
  
  .object3 {
    @include rellax(450px, 30%, 15%);
  }
  
  .object4 {
    @include rellax(400px, 40%, 40%);
  }
  
  .object5 {
    @include rellax(500px, 45%, 20%);
  }
  
  .object6 {
    @include rellax(400px, 50%, 10%);
  }
  
  .object7 {
    @include rellax(400px, 60%, 55%);
  }
  
  .object8 {
    @include rellax(400px, 70%, 50%);
  }
  
  .object9 {
    @include rellax(400px, 75%, 15%);
  }
  
  .object10 {
    @include rellax(400px, 80%, 60%);
  }
  
  .object11 {
    @include rellax(500px, 80%, 10%);
  }
  
  .object12 {
    @include rellax(300px, 80%, 65%);
  }
  
  .object13 {
    @include rellax(250px, 85%, 25%);
  }
  
  .object14 {
    @include rellax(400px, 85%, 40%);
  }
  
  .object15 {
    @include rellax(400px, 85%, 20%);
  }
  
  .object16 {
    @include rellax(400px, 85%, 10%);
  }
  
  .object17 {
    @include rellax(400px, 80%, 40%);
  }
  
  .object18 {
    @include rellax(400px, 80%, 50%);
  }
  
  .object19 {
    @include rellax(400px, 90%, 15%);
  }
  
  .object20 {
    @include rellax(400px, 90%, 60%);
  }
  
  .object21 {
    @include rellax(400px, 100%, 20%);
  }
  
  .object22 {
    @include rellax(400px, 100%, 10%);
  }
  
  .object23 {
    @include rellax(400px, 100%, 40%);
  }
  
  .object24 {
    @include rellax(400px, 10%, 50%);
  }
  
  .object25 {
    @include rellax(400px, 100%, 15%);
  }
  
  .object26 {
    @include rellax(400px, 10%, 60%);
  }
  
  .word1 {
    @include relWord(80%, 20%, 0.7em);
  }
  
  .word2 {
    @include relWord(102%, 15%, 0.5em);
  }