body {
    margin: 0;
    padding: 0;
    width: auto;
    height: 100vh;
}

.object {
    position: absolute;
}

img {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;


}

.object1 {
    width: 500px;
    top: 10%;
    left: 10%;
}

.object2 {
    width: 300px;
    top: 30%;
    left: 60%;
}

.object3 {
    width: 250px;
    top: 5%;
    left: 100%;
}

.object4 {
    width: 400px;
    top: 50%;
    left: 160%;
}
