body {
    font-size: 48px;
    line-height: 1.5;
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.3s ease-in-out;
}

.movArt {
    position: fixed;
    overflow: hidden;
    left: 50%;
    transform: translate(-50%, 0);
    width: 10%;
    height: 15%;
}

.movMisc {
    position: fixed;
    overflow: hidden;
    bottom: 40px;
    left: 50%;
    width: 10%;
    height: 15%;
    transform: rotate(180deg) translate(50%, 0);
}

.movers , .movers2 {
    white-space: nowrap;
}


a {
    color: #2727e6;
    text-decoration: none;
    border-bottom: 4px solid transparent;
    transition: border-bottom 0.3s;
}

a:hover {
    border-bottom-color: #2727e6;
}

img, h1 {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 600px;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border: 5px solid yellowgreen;
}

a.music {
    position: fixed;
    top: 50%;
    left: 40px;
    transform-origin: 0 0;
    transform: rotate(-90deg) translate(-50%, 0);
}

a.travel {
    position: fixed;
    top: 50%;
    right: 40px;
    transform-origin: 100% 0;
    transform: rotate(90deg) translate(50%, 0);
}

a.misc {
    position: fixed;
}

a.art {
    position: fixed;
    top: 40px;
}

@media (max-width: 1160px) {
    img {
        width: 450px;
    }

    body {
        font-size: 24px;
    }
}

@media (max-width: 640px) {
    img {
        width: 225px;
    }

    body {
        font-size: 16px;
    }
}