body {
    margin: 0;
    padding: 0;
}

.object {
    position: absolute;
}

img {
    width: 100%;
}

.object1 {
    width: 500px;
    top: 10%;
    left: 10%;
}

.object2 {
    width: 300px;
    top: 50%;
    left: 65%;
}

.object3 {
    width: 250px;
    top: 85%;
    left: 25%;
}

.object4 {
    width: 400px;
    top: 130%;
    left: 40%;
}
