body {
    margin: 0;
    padding: 0;
    background: #1f1f1f;
    font-family: "Ailerons";
    color: #fff;
    font-size: 5em;
    overflow-x: hidden;

}

/* home button */

.movBack {
    position: fixed;
    right: 4%;
    top: 0%;
    left: 5%;
    z-index: 1;
    width: 10%;
    height: 15%;
    overflow: hidden;
    color: black;
}

.index {
    border: 3px solid #2727e6;
    font-weight: 700;
    letter-spacing: -0.5rem;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 1rem;
    line-height: 1.8rem;
    letter-spacing: 0.5px;
    border-left-width: 0px;
    border-right-width: 0px;
    text-decoration: none;
    color: #2727e6;
}

a:hover {
    color: orange;
}

.object,
.word {
    position: absolute;
}

img {
    width: 100%;
}

.object1 {
    width: 500px;
    top: 10%;
    left: 10%;
}

.object2 {
    width: 350px;
    top: 80%;
    left: 65%;
}

.object3 {
    width: 450px;
    top: 115%;
    left: 15%;
}

.object4 {
    width: 400px;
    top: 190%;
    left: 40%;
}

.object5 {
    width: 500px;
    top: 280%;
    left: 20%;
}

.object6 {
    width: 400px;
    top: 170%;
    left: 10%;
}

.object7 {
    width: 400px;
    top: 330%;
    left: 55%;
}

.object8 {
    width: 400px;
    top: 360%;
    left: 50%;
}

.object9 {
    width: 400px;
    top: 425%;
    left: 15%;
}

.object10 {
    width: 400px;
    top: 500%;
    left: 60%;
}

.object11 {
    width: 500px;
    top: 560%;
    left: 10%;
}

.object12 {
    width: 300px;
    top: 630%;
    left: 65%;
}

.object13 {
    width: 250px;
    top: 625%;
    left: 25%;
}

.object14 {
    width: 400px;
    top: 655%;
    left: 40%;
}

.object15 {
    width: 400px;
    top: 755%;
    left: 20%;
}

.object16 {
    width: 400px;
    top: 785%;
    left: 10%;
}

.object17 {
    width: 400px;
    top: 820%;
    left: 40%;
}

.object18 {
    width: 400px;
    top: 860%;
    left: 50%;
}

.object19 {
    width: 400px;
    top: 920%;
    left: 15%;
}

.object20 {
    width: 400px;
    top: 950%;
    left: 60%;
}

.object21 {
    width: 400px;
    top: 1000%;
    left: 20%;
}

.object22 {
    width: 400px;
    top: 1040%;
    left: 10%;
}

.object23 {
    width: 400px;
    top: 1085%;
    left: 40%;
}

.object24 {
    width: 400px;
    top: 1120%;
    left: 50%;
}

.object25 {
    width: 400px;
    top: 1155%;
    left: 15%;
}

.object26 {
    width: 400px;
    top: 1210%;
    left: 60%;
}

.word1 {
    top: 80%;
    left: 20%;
}

.word2 {
    top: 102%;
    left: 15%;
    font-size: 0.5em;
}